.ProgressBarView {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BarBack {
  width: 90%;
  height: 2px;
  background: lightgrey;
  margin-bottom: 10px;
}

.BarFront {
  width: 0%;
  height: 2px;
  background: #808080;
}

.TimeView {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TimeTextLeft {
  margin-left: 8px;
  color: var(--color-text);
}

.TimeTextRight {
  margin-right: 8px;
  color: var(--color-text);
}
